body {
    background: #ecf8ffb5;
    /* font-family: "Montserrat", sans-serif; */
    /* font-size: 16px; */
    /* color: rgb(53, 53, 53); */
}

.title {
    font-size: 15em;
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
}




.date {
    color: rgb(0, 0, 0);
}

#description {
    margin: 1.5em 0 2em 0;
}



.vertical-timeline-element-content {
    box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.25),
        0 0.4em 1.25em 0 rgba(0, 0, 0, 0.15);
    padding: 2em 3em !important;
    width: 100% !important;
}

.vertical-timeline::before {

    background: #8760d0d5 !important;
}

.vertical-timeline-element-icon{
    box-shadow: 0 0 0 4px #8760d083, inset 0 3px 0 rgb(0 0 0 / 8%), 0 3px 0 4px rgb(0 0 0 / 5%) !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    background: transparent !important;
    border-radius: 20% !important;
    height: 4.5em !important;
    z-index: 1 ;
}


.vertical-timeline-element-content {
    position: relative;

        background: linear-gradient(180deg,#5680e9f1 0%,#5AB9EA 10%, #ffffff 85%, #5abaea2d 95%,#5680e94b 100%) !important;

    border-radius: 1.25em !important;
}

.vertical-timeline-element-content-arrow {

    border-left: 22px solid #4fafdf !important;
}

